$background-color: #eee;
$text-color: #444;

body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
}

@import 'components/App';
@import 'components/ShowSelect';
@import 'components/TodoList';
@import 'components/Todo';
@import 'components/DoneBtn';
@import 'containers/AddTodo';