$text-color: #444;

body {
  color: $text-color;
  margin: 0;
}

@import 'components/App';
@import 'components/ShowSelect';
@import 'components/TodoList';
@import 'components/Todo';
@import 'components/DoneBtn';
@import 'containers/AddTodo';
@import 'components/Link';
@import 'components/DeleteDialog';
@import 'containers/HandleTodo';
@import 'components/HeadBar';